---
---

<section class="my-8 border-t pt-8">
  <div>
    <p class="text-center overflow-auto">
      <code class="py-1 px-2">('around 10 years of comprehensive full stack experience')</code>
    </p>

    <p class="my-5">
      Hello World! I'm a frontend-heavy full stack web developer with an extensive experience across many areas and frameworks like
      <a href={"https://github.com/facebook/react"} target="_blank">React</a>, <a href={"https://github.com/angular/angular"} target="_blank">Angular</a> and <a href={"https://github.com/laravel/laravel"} target="_blank">Laravel</a>.
      <br />
      I like to write articles from time to time and I keep myself up to date with the latest news and developments related to the web-tech world.
      <br />
      I prefer to implement all JavaScript projects using <a href={"https://www.typescriptlang.org"} target="_blank">TypeScript</a>.
      <br />
      When developing on the Frontend with
      <a href={"https://github.com/facebook/react"} target="_blank">React</a>
      my stack includes mostly
      <a href={"https://nextjs.org"} target="_blank">Next.js</a>,
      <a href={"https://tailwindcss.com"} target="_blank">Tailwind CSS</a>,
      <a href={"https://react-query-v3.tanstack.com"} target="_blank">React Query</a>,
      <a href={"https://www.typescriptlang.org"} target="_blank">TypeScript</a> and
      <a href={"https://testing-library.com/docs/react-testing-library/intro/"} target="_blank">React Testing Library</a>. I also have experience using <a href={"https://redux.js.org"} target="_blank">Redux</a> and <a href={"https://redux-toolkit.js.org"} target="_blank">Redux toolkit</a>. I also use <a href={"https://storybook.js.org"} target="_blank">Storybook</a> if needed, and of course all tech stack depends on the requirements of each project.
      <br />
      When I need a backend I often go for <a href={"https://laravel.com"} target="_blank">Laravel</a> to create  <strong>RESTful</strong> APIs.
      Authentication and Authorization is implemented using Laravel's best practices and conventions wherever needed, using gates and policies.
      <br />
      I've developed JavaScript backends with <a href={"https://expressjs.com"} target="_blank">Express</a> and <a href={"https://nestjs.com"} target="_blank">NestJS</a> to also implement <strong>RESTful</strong> APIs and I would go for them with <strong>TypeORM</strong> if I need a JavaScript backend.
    </p>
  </div>
</section>
